* {
    box-sizing: border-box;

  }
html{
    font-family: "Vazirmatn", sans-serif;
}
body{
    background-color: #2b2135;

}
  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
.sidebar button{
    padding: 1%;
    margin: 0 42%;
    width: 100px;
    height: 40px;
    font-size: large;
    transition: all ease-in-out 0.3s;
    border-radius: 10px;
    border: none;
    background-color: rgb(110, 110, 110);
    color: rgb(231, 231, 231);
}
.sidebar button:hover{
    background-color: black;
    color: white;
    border : none;
}
.sidebar{
    background-color: rgb(59, 59, 59);
    padding-bottom: 100%;
}
.sidebar ul li:hover{
    background-color: black;
    color: white;
}
.musics
{
    padding : 1%;
    margin : 4% 2%;
    width: 96%;
    height : 800px;
    /* background-color: black; */
    border: 2px black solid;
    border-radius: 10px;
}
.toolbar
{
    width: 100%;
    height:80px;
    background-color: gray;
    border-radius: 5px;
}
.shuffleplay
{
    background-color: rgb(100, 100, 100);
    color : white;
    padding : 2%;
    margin : 0.35% 1%;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
}
.orderplay
{
    background-color: rgb(100, 100, 100);
    color : white;
    padding : 2%;
    margin : 0.35% 0;
    margin-right: 1055px;
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
}
.orderplay:hover{
    color: black;
    background-color: white;
}
.shuffleplay:hover{
    color: black;
    background-color: white;
}
.notselected{
    list-style: none;
    background-color: rgb(110, 110, 110);
    color: rgb(231, 231, 231);
    padding: 2% 5%;
    margin: 3% 0;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
}
.selected{
    list-style: none;
    background-color: rgb(194, 0, 0);
    color: rgb(231, 231, 231);
    padding: 2% 5%;
    margin: 3% 0;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
}
.musics ul li {
    list-style: none;
    background-color: rgb(65, 65, 65);
    color: #fff;
    padding: 2% 5%;
    margin: 3% 0;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
}
.musics ul li:hover{
    background-color: black;
    color: white;
}
.back{
    background-color: blue;
}