.PL_body {
  font-family: "Vazirmatn", sans-serif;
  color: #cde6fe;
  direction: rtl;
}
.sidebar {
  width: 23%;
  background-color: #1a1420;
  height: 96%;
  position: fixed;
  overflow: auto;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2a0949;
}

/* Handle */
::-webkit-scrollbar-thumb {
  
  background: #6c5483;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #48315f
}
.first_row {
  padding: 35px 20px ;
  margin-bottom: 5%;
  background-color: #251436;
}
.first_row span {
  font-size: 2.6rem;
  margin: 0% 0% 0% 12%;

  height: 50px;
  width: 125px;
}
.first_row button:hover {
  background-color: #51ff00;
  height: 80px;
  width: 130px;
}
.first_row button:active {
  transition: 100ms;
  background-color: #5f3982;
}
#mainbar {
  width: 77%;
  background-color: #2b2135;
  margin-right: 23%;
  height: 100%;
}
#added_playlist {
  display: flex;
  flex-direction: column;
  position: static;
}
/* #added_playlists button {
  color: #cde6fe;
  width: 96%;
  padding: 20px;
  margin: 5px 5px;
  font-size: 26px;
  background-color: #00cf2d;
  border-radius: 10px;
  transition: 400ms;
  transition-timing-function: ease;
}
#added_playlists button:hover {
  background-color: #51ff00;
  padding: 25px;
  cursor: pointer;
}
#added_playlists button:focus {
  padding: 30px;
  background-color: #5f3982;
} */
.top_bar {
  background-color: #1a1420;
  direction: ltr;
  height: 20%;
  width: 100%;
}
.options {
  background-color: #261936;
  padding: 40px 7px 30px;
  margin-bottom: 20px;
}
.create_playlist {
  background-color: #3c2e49;
  width: 60%;
  height: 93%;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  margin-bottom: 100px;
  padding-bottom: 20px;
  overflow: auto;
}
.playlist_card {
  display: flex;
  direction: rtl;
  color: #cde6fe;
  height: 80px;
  width: 96%;
  margin: 8px 5px;
  font-size: 26px;
  background-color: #6c5483;
  border-radius: 10px;
  transition: 400ms;
  transition-timing-function: ease;
  padding-right: 2%;
}
.playlist_card Button {
  font-size: 15px;
  width: 30%;
  height: 60%;
  background-color: #472764;
  margin: 15px;
  border: none;
  border-radius: 10px;
  transition: 400ms;
  color: #cde6fe;
}
.playlist_card:hover {
  background-color: #513a66;
  padding: 1.5%;
  height: 90px;
}
.playlist_card button:hover {
  background-color: #5b268b;
  cursor: pointer;
}
.playlist_card button:focus.playlist_card {
  background-color: #513a66;
  padding: 3%;
  height: 90px;
  cursor: pointer;
}
.music {
  background-color: #3e304d;
  margin: 10px 10px;
  padding-right: 2%;
  border-radius: 10px;
  transition: 400ms;
}
.music:hover {
  background-color: #342642;
  margin: 10px 10px;
  padding-right: 3%;
  border-radius: 10px;
}
.music_component {
  display: flex;
  direction: rtl;
  background-color: #1a1420;
  transition: 400ms;
  overflow: auto;
  padding-right: 1%;
}
.music_component:hover {
  background-color: #2a2033;
  padding: 5px 0px;
  padding-right: 1%;
}
.added_music {
  transition: 400ms;
  overflow: auto;
  border-radius: 10px;
  padding: 10px;
}
.added_musics {
  background-color: #3c2e49;
  background-color:"#633295";
  margin: 40px 20px;
  border-radius: 10px;
  min-height: 54%;
  padding :1% 0%;
}
.music_component_added{
  display: flex;
  direction: rtl;
  margin:2%;
  border: none;
  border-radius: 10px;
  background-color: #1a1420;
  transition: 400ms;
  overflow: auto;
  padding-right: 1%;
}