.PL_body {
  color: #cde6fe;
  direction: rtl;
}
.sidebar {
  width: 23%;
  background-color: #110d15;
  height: 100%;
  position: fixed;
  overflow: auto;
  scrollbar-width: 0%;
}
.sidebar::-webkit-scrollbar {
    display: none;
  }
.first_row {
  margin: 20px 0px;
}
.first_row span {
  font-size: 35px;
  margin: 0% 0% 0% 8%;
  height: 50px;
  width: 125px;
}
.first_row button {
  background-color: #00cf2d;
  height: 70px;
  width: 125px;
  border-radius: 10px;
  font-size: 16px;
  color: #cde6fe;
  transition: 400ms;
}
.first_row button:hover {
  background-color: #51ff00;
  height: 80px;
  width: 130px;
}
.first_row button:active {
  transition: 100ms;
  background-color: #5f3982;
}
#mainbar {
  width: 77%;
  background-color: #2b2135;
  margin-right: 23%;
  height: 100%;
}
#added_playlist {
  display: flex;
  flex-direction: column;
  position: static;

}
#added_playlists button {
  color: #cde6fe;
  width: 96%;
  padding: 20px;
  margin: 5px 5px;
  font-size: 26px;
  background-color: #00cf2d;
  border-radius: 10px;
  transition: 400ms;
  transition-timing-function: ease;
}
#added_playlists button:hover {
  background-color: #51ff00;
  padding: 25px;
  cursor: pointer;
}
#added_playlists button:focus {
  padding: 30px;
  background-color: #5f3982;
}
.top_bar {
    background-color: #1a1420;
    direction: ltr;
    height: 20%;
    width: 100%;
}
.options {
    padding:  10px 7px;
    margin-bottom: 30px;
}
.create_playlist{
    background-color:#391162;
    width: 200px;
    height: 200px;
    margin:auto;
    margin-top: 30px;
    width: 50%;
    height: 90%;
    border-radius: 10px;
    margin-bottom: 100px;
}