@import url("https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: Vasir;
  direction: rtl;
  background-repeat: no-repeat;
  background-image: url("https://cdn.dribbble.com/users/736467/screenshots/5465876/blobs-longer.gif");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  font-family: "Vazirmatn", sans-serif;
  direction: rtl;
}
div {
  direction: rtl;
}
input {
  color: #ffffff;
}
.loginbackground {
  background-image: url("https://cdn.dribbble.com/users/2410946/screenshots/6808682/lava_lamp_03.gif");
}
.mybutton {
  background-color: #ff25a8;
  width: 100px;
  border: none;
  border-radius: 7px;
  border-color: #ff25a8;
  color: #fff;
  padding: 10px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  display: block;
  text-decoration: none;
}

.mybutton:hover {
  border-radius: 15px;
  width: 120px;

  border-color: #ffffff;
  color: #ffffff;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.contentcenter {
  align-items: center;
  justify-content: center;
}
.container {
  background-color: #ffffff;
  width: 300px;

  padding: 200px 200px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  display: block;
}

.shadow {
  -webkit-box-shadow: 0px 6px 15px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 6px 15px -1px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 10px;
}
.logincontainer {
  border-radius: 20px;
  padding: 80px 100px;
  width: 50%;
  min-height: 60vh;
  min-width: 50vh;
  transition: 0.5s;
}
.logincontainer:hover {
  padding: 80px 100px;
  width: 55%;
  min-height: 65vh;
  min-width: 55vh;
}
.signupcontainer {
  border-radius: 20px;
  padding: 80px 120px;
  width: 50%;
  min-height: 70vh;
  min-width: 50vh;
  transition: 0.5s;
}
.signupcontainer:hover {
  padding: 80px 120px;
  width: 55%;
  min-height: 80vh;
  min-width: 55vh;
}
.inputfield {
  height: 45px;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 100px;
  border-color: #ff25a8;
  text-align: center;
  font-size: 20px;
  transition: 0.3s;
}

.inputfield:hover {
  border-radius: 10px;
}
.inputfield:focus {
  border-color: #ff00b7;
  border-radius: 10px;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
/* Top left text */
.top {
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
}
.bottom {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  color: rgb(235, 235, 235);
}
.buttonbottom {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 40%);
  text-align: center;
}
/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.persionRtl {
  direction: rtl;
  color: #ffffff;
}
.pointer {
  cursor: pointer;
}
