* {
  box-sizing: border-box;
}

html {
  background-color: #fff;
}

@font-face {
  font-family: "MyFont";
  src: local("MyFont"),
    url(Font/Radomir\ Tinkov\ -\ Gilroy-Light.otf) format("otf");
}
body {
  margin: 0;
}

.loginbackground {
  background-image: url("Image/background-gradiant.jpg");
}
.mybutton {
  background-color: #ff25a8;
  width: 100px;
  border: none;
  border-radius: 7px;
  border-color: #ff25a8;
  color: #fff;
  padding: 10px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  display: block;
  text-decoration: none;
}

.mybutton:hover {
  border-radius: 15px;
  border-color: #ffffff;
  color: #ffffff;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  background-color: #ffffff;
  width: 300px;

  padding: 200px 200px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  display: block;
}
.shadow {
  -webkit-box-shadow: 0px 6px 15px -1px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 6px 15px -1px rgba(0, 0, 0, 0.39);
}
.logincontainer {
  width: 100%;
  border-radius: 20px;
  min-height: 60vh;
  padding: 70px 100px;
  align-items: center;
  justify-content: center;
  
}
